{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>TrailerPark</title>
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

  {% block styles %}

  {% bootstrap_css %}

  {% endblock styles%}
</head>

<body style="background-color: black;">
  {% block navbar %}

  {% endblock %}
  {% block content %}
  {% endblock %}

  {% block scripts %}

  {% bootstrap_javascript jquery='full' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/youtube.js' %}"></script>

  {% endblock scripts%}
</body>

</html>