{% extends 'base.html' %}
{% load static %}

{% block styles %}

{{block.super}}
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}

<h1 class="text-center text-monospace title">
  {{the_movie_details.original_title}}
</h1>

<div class="container-fluid">

  <div id="player" class="mt-3">

  </div>

</div>

<div class="container-fluid mt-3">
  <div class="row mt-3">
    <div class="col-md-4 mt-3">
      <div class="card border-success mb-3 poster" style="max-width: 18rem;">
        <div class="card-body">
          {% if the_movie_details.backdrop_path %}

          <img src="https://image.tmdb.org/t/p/w500/{{the_movie_details.backdrop_path}}"
            alt="{{the_movie_details.backdrop_path}}" height="200" width=100% class="card-img">

          {% else %}

          <img src="https://image.tmdb.org/t/p/w500/{{the_movie_details.backdrop_path}}"
            alt="{{the_movie_details.poster_path}}" height="200" width="120" class="card-img">

          {% endif %}
        </div>
      </div>
      <p class="text-center text-monospace genre">
        Production Companies
      </p>
      <p class="text-center text-monospace genre">
        {% if production_companies_name %}
        {% for company in production_companies_name %}

        {{company.name|title}} ~ {{company.origin|title}},

        {% endfor %}
        {% endif %}
      </p>
    </div>
    <div class="col-md-4 mt-3 overview">
      <p class="text-center text-monospace">
        {{the_movie_details.title|upper}}
      </p>
      <p class="text-center text-monospace">
        {{the_movie_details.overview|title}}
      </p>
      <p class="text-center text-monospace">
        To view the original homepage of {{the_movie_details.original_title}} got to
        <a href="{{the_movie_details.homepage}}" target="blank">{{the_movie_details.homepage}}</a>
      </p>
      <p class="text-center text-monospace">
        Duration : {{the_movie_details.runtime}} mins
      </p>
      <p class="text-center text-monospace">
        Release Date : {{the_movie_details.release_date}}
      </p>
      <p class="text-center text-monospace">
        Countries Producers :
        {% if production_countries %}
        {% for country in production_countries %}

        {{country}},

        {% endfor %}
        {% endif %}
      </p>
    </div>
    <div class="col-md-4 mt-4 genre">
      <p class="text-center text-monospace">
        Genres :
      </p>
      <p class="text-center text-monospace">
        {% if all_genres %}
        {% for genre in all_genres %}

        {{genre}},

        {% endfor %}
        {% endif %}
      </p>
      <p class="text-center text-monospace">
        Original Language : "{{the_movie_details.original_language}}"
      </p>
      <p class="text-center text-monospace">
        Status : {{the_movie_details.status}}
      </p>

      <!-- rating stars -->

      <div class="stars text-center">
        {% if the_movie_details.vote_average >= 2 %}
        <i class="fas fa-star " style="color:yellow"></i>
        {% else %}
        <i class="fas fa-star " style="color:gray"></i>
        {% endif %}
        {% if the_movie_details.vote_average >= 4 %}
        <i class="fas fa-star " style="color:yellow"></i>
        {% else %}
        <i class="fas fa-star " style="color:gray"></i>
        {% endif %}
        {% if the_movie_details.vote_average >= 6 %}
        <i class="fas fa-star " style="color:yellow"></i>
        {% else %}
        <i class="fas fa-star " style="color:gray"></i>
        {% endif %}
        {% if the_movie_details.vote_average >= 8 %}
        <i class="fas fa-star " style="color:yellow"></i>
        {% else %}
        <i class="fas fa-star " style="color:gray"></i>
        {% endif %}
        {% if the_movie_details.vote_average >= 10 %}
        <i class="fas fa-star " style="color:yellow"></i>
        {% else %}
        <i class="fas fa-star " style="color:gray"></i>
        {% endif %}
      </div>

      <p class="text-center text-monospace">
        Ratings : {{the_movie_details.vote_average}}
      </p>
      <p class="text-center text-monospace">
        Total votes : {{the_movie_details.vote_count}}
      </p>
    </div>
  </div>
</div>


<!-- Movie Reviews -->

{% if movie_reviews %}
<div class="container mt-3">
  <h1 class="text-center text-monospace">
    {{the_movie_details.original_title|title}} Reviews
  </h1>
  <div class="row reviews">

    {% for review in movie_reviews %}

    <div class="card-body">
      <p class="text-monospace" > 
        {{review.author}}
      </p>
      <P class="text-monospace" >
        {{review.content|slice:"300"}} ...
      </P>
      <P class="text-monospace" >
        <a href="{{review.url}}" target="_blank" rel="noopener noreferrer"> Full Review</a>
      </P>
    </div>

    {% endfor %}
  </div>
</div>
{% endif %}

<!-- Similar Movies  -->

<div class="container">
  <h1 class="text-center text-monospace">SIMILAR MOVIES</h1>

  <div class="card-columns">
    {% for m in similar_movies %}
    <div class="card">
      <img src="{{m.poster_path}}" alt="{{m.original_title}}" class="img-responsive card-img-top">
      <div class="main">
        <div class="content text-monospace">
          <h6>{{m.original_title}}</h6>
          <div class="stars">
            {% if m.vote_average >= 2 %}
            <i class="fas fa-star " style="color:yellow"></i>
            {% else %}
            <i class="fas fa-star " style="color:gray"></i>
            {% endif %}
            {% if m.vote_average >= 4 %}
            <i class="fas fa-star " style="color:yellow"></i>
            {% else %}
            <i class="fas fa-star " style="color:gray"></i>
            {% endif %}
            {% if m.vote_average >= 6 %}
            <i class="fas fa-star " style="color:yellow"></i>
            {% else %}
            <i class="fas fa-star " style="color:gray"></i>
            {% endif %}
            {% if m.vote_average >= 8 %}
            <i class="fas fa-star " style="color:yellow"></i>
            {% else %}
            <i class="fas fa-star " style="color:gray"></i>
            {% endif %}
            {% if m.vote_average >= 10 %}
            <i class="fas fa-star " style="color:yellow"></i>
            {% else %}
            <i class="fas fa-star " style="color:gray"></i>
            {% endif %}
          </div>
          <small class="text-monospace"> {{m.overview}}</small>
          <a href="{% url 'movie' movie_id=m.id %}">
            <button class="btn btn-success btn-sm text-monospace">Watch Trailer Now</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<!-- Youtube Iframe -->

<script>
  // Gets the specific device width

  var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;

  // Gets the specific device height

  var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;

  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;

  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: height * 0.88,
      width: width * 0.96,
      videoId: '{{youtube_video_id}}',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }
  var done = false;

  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(stopVideo, null);
      done = true;
    }
  }

  function stopVideo() {
    player.stopVideo();
  }
</script>
{% endblock %}